<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>邀请您对本次订单进行评价</title>
</head>
<body>
    <h1>邀请您对本次订单进行评价</h1>
    <img src="{{ data['open_event'] }}" alt="" width="1" height="1" style="display:none;">
    <a href="{{ data['click_button_1_event'] }}">
        <button>Button 1</button>
    </a>
    <a href="{{ data['click_button_2_event'] }}">
        <button>Button 2</button>
    </a>
</body>
</html>